# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
  
# Node.js deps
frontend/node_modules
frontend/.vite
frontend/.next
frontend/dist

# Env files
frontend/.env
frontend/.env.*.local
backend/.env
backend/.env.*.local

# OS files
.DS_Store
Thumbs.db

# WordPress
backend/wp-content/uploads
backend/wp-content/cache
backend/wp-content/upgrade

# Composer (если используешь)
backend/vendor
composer.lock

# Build artifacts
*.cache
*.tmp
*.swp

# Docker
docker-compose.override.yml
.docker/

# IDE
.vscode
.idea
