# Database Configuration
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=your_secure_password_here
MYSQL_ROOT_PASSWORD=your_secure_root_password_here

# WordPress Configuration
# Замените на ваш домен когда будете готовы
WP_HOME=https://ec2-13-61-2-249.eu-north-1.compute.amazonaws.com
WP_SITEURL=https://ec2-13-61-2-249.eu-north-1.compute.amazonaws.com
WP_CORS_ALLOWED_ORIGIN=https://ec2-13-61-2-249.eu-north-1.compute.amazonaws.com

# WordPress Admin
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=your_secure_admin_password_here
WP_ADMIN_EMAIL=admin@example.com

# Frontend Configuration
PUBLIC_WP_API_BASE=https://ec2-13-61-2-249.eu-north-1.compute.amazonaws.com/wp-json
WP_API_INTERNAL_BASE=http://wordpress/wp-json

# Security
# Добавьте случайные строки для безопасности
WORDPRESS_AUTH_KEY=your_auth_key_here
WORDPRESS_SECURE_AUTH_KEY=your_secure_auth_key_here
WORDPRESS_LOGGED_IN_KEY=your_logged_in_key_here
WORDPRESS_NONCE_KEY=your_nonce_key_here
WORDPRESS_AUTH_SALT=your_auth_salt_here
WORDPRESS_SECURE_AUTH_SALT=your_secure_auth_salt_here
WORDPRESS_LOGGED_IN_SALT=your_logged_in_salt_here
WORDPRESS_NONCE_SALT=your_nonce_salt_here
