---
const { data } = Astro.props;
import { Image } from "astro:assets";
import { Button } from "../ui/button";
---

<section class="relative h-[60vh] mt-[56px] flex flex-col">
  <div
    class="relative z-40 text-white py-4 sm:py-6 md:py-6 lg:py-8 px-[7vw] bg-denim-gradient w-full md:w-[60%]
    [clip-path:polygon(0_63%,100%_55%,100%_100%,0_100%)]
    md:[clip-path:polygon(0_0,100%_-85%,85%_100%,0_100%)]
    text-right md:text-left
    h-[60vh] flex flex-col justify-end md:justify-center items-start space-y-4"
  >
    <h1
      class="mb-0 sm:mb-2 md:mb-4 lg:mb-6 text-xl sm:text-2xl md:text-4xl lg:text-6xl text-white font-bold"
      set:html={data.title}
    />
    <p
      class="w-full text-white text-xs sm:text-lg md:text-xl lg:text-2xl"
      set:html={data.description}
    />
    <Button
      className="ml-auto md:ml-0 md:mr-auto bg-white text-black h-8 sm:h-8 md:h-10 lg:h-12 text-xs md:text-xl px-12 hover:bg-white/50"
      ><a href="/catalog">Смотреть каталог</a></Button
    >
  </div>

  <Image
    src={data.image}
    inferSize={true}
    alt="party"
    format="webp"
    class="absolute top-0 right-0 w-full md:w-1/2 h-[40vh] md:h-full object-cover h-[60vh]"
    loading="eager"
    fetchpriority="high"
    decoding="async"
    layout='constrained'
  />
</section>
